<div class="row">
    <div class="profile-container col-md-10 col-md-offset-1">
        <div class="profile-header col-md-12" ng-if="userLoaded">
            <strong>{{ user.username }}</strong> ({{ user.role}})
            <span ng-if="user.id === User.userInfo.id">
                <button class="btn btn-orange pull-right" ng-click="openAddClassroom()" ng-if="!User.isTeacher()">Add Class</button>
                <button class="btn btn-orange pull-right" ng-click="openCreateClassroom()" ng-if="User.isTeacher()">Create Class</button>
            </span>
        </div>
        <classrooms-widget-directive class="col-md-12" classrooms="classrooms" ng-if="userLoaded"></classrooms-widget-directive>
        <comments-widget-directive class="col-md-12" comments="comments" ng-if="userLoaded"></comments-widget-directive>
        <posts-widget-directive class="col-md-12" posts="posts" ng-if="userLoaded && user.role === USER_ROLES.STUDENT"></posts-widget-directive>
    </div>
</div>