venv
env
*.pyc
db.sqlite3
.idea
celerybeat-schedule.db
dump.rdb
.DS_Store
client-info.js
node_modules
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
local_settings.py
