awsebcli==3.12.1
blessed==1.14.2
botocore==1.8.8
cement==2.8.2
certifi==2017.11.5
chardet==3.0.4
colorama==0.3.7
Django==1.11.7
django-braces==1.11.0
django-debug-toolbar==1.9.1
django-extensions==1.9.7
django-oauth-toolkit==1.0.0
django-rest-framework-social-oauth2==1.0.8
djangorestframework==3.7.1
docker-py==1.7.2
dockerpty==0.4.1
docopt==0.6.2
docutils==0.14
factory-boy==2.9.2
Faker==0.8.6
funcsigs==1.0.2
gunicorn==19.7.1
httplib2==0.10.3
idna==2.6
ipaddress==1.0.18
jmespath==0.9.3
mock==2.0.0
oauthlib==2.0.6
pathspec==0.5.0
pbr==3.1.1
PyJWT==2.4.0
python-dateutil==2.6.1
python-openid==2.2.5
pytz==2017.3
PyYAML==3.12
requests==2.18.4
requests-oauthlib==0.8.0
semantic-version==2.5.0
shortuuid==0.5.0
six==1.11.0
social-auth-app-django==2.0.0
social-auth-core==1.5.0
sqlparse==0.2.4
tabulate==0.7.5
termcolor==1.1.0
text-unidecode==1.1
typing==3.6.2
urllib3==1.22
wcwidth==0.1.7
websocket-client==0.44.0
