$blueDark: #093145;
$blueLight: #43ABC9;

$greyLight: #A7B0B2;
$grey: #555F61;
$greyDark: #373D3F;

$yellow: #EBC944;
$yellowDark: #BCA136;

$orange: #F26D21;

$greenDark: #829356;
$green: #93A661;

$white: #FFFF;