{% load staticfiles %}
<!DOCTYPE html>
<html lang="en-US" ng-app="scienceFairForum">
<head>
    <meta charset="utf-8">

    <!-- Include Stylesheets -->
    <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/angular-ui-bootstrap/dist/ui-bootstrap-csp.css' %}">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">-->
    <link rel="stylesheet" href="{% static 'css/theme.css' %}">


    <!-- Include JavaScript Files -->
    <script src="{% static 'node_modules/jquery/dist/jquery.slim.js' %}"></script>
    <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.js' %}"></script>
    <!--<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>-->
    <!--<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>-->

    <!-- Include Angular and other plugins -->
    <script src="{% static 'node_modules/angular/angular.js' %}"></script>
    <script src="{% static 'node_modules/angular-ui-router/release/angular-ui-router.js' %}"></script>
    <script src="{% static 'node_modules/ngstorage/ngStorage.js' %}"></script>
    <script src="{% static 'node_modules/lodash/lodash.js' %}"></script>
    <script src="{% static 'node_modules/restangular/src/restangular.js' %}"></script>
    <script src="{% static 'node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js' %}"></script>

    <!-- Include Our App -->
    <script src="{% static 'app.route.js' %}"></script>
    <script src="{% static 'app.module.js' %}"></script>
    <script src="{% static 'client-info.js' %}"></script>
    <script src="{% static 'request-service.js' %}"></script>
    <script src="{% static 'user/user-service.js' %}"></script>
    <script src="{% static 'home/home-directive.js' %}"></script>
    <script src="{% static 'login/base-directive.js' %}"></script>
    <script src="{% static 'login/login-directive.js' %}"></script>
    <script src="{% static 'login/register-directive.js' %}"></script>
    <script src="{% static 'classroom/classroom-directive.js' %}"></script>
    <script src="{% static 'classroom/classroom-overview/classroom-overview-directive.js' %}"></script>
    <script src="{% static 'classroom/classroom-post/classroom-post-directive.js' %}"></script>
    <script src="{% static 'profile/profile-directive.js' %}"></script>
    <script src="{% static 'profile/classrooms-widget/classrooms-widget-directive.js' %}"></script>
    <script src="{% static 'profile/comments-widget/comments-widget-directive.js' %}"></script>
    <script src="{% static 'profile/posts-widget/posts-widget-directive.js' %}"></script>

</head>
<body>
    <div ui-view></div>
</body>
</html>